# Python script generated logstash configuration script for fetching Customer Information.
input {
    jdbc {
        # Postgres jdbc connection string to our database, mydb
        jdbc_connection_string => "jdbc:as400://WMCDCQA"
        # The user we wish to execute our statement as
        jdbc_user => "wmesb"
        jdbc_password => "wmesb"
        # The path to our downloaded jdbc driver
        jdbc_driver_library => "/opt/dashboard/logstash-config/lib/jt400-6.7.jar"
        # The name of the driver class for Postgresql
        jdbc_driver_class => "com.ibm.as400.access.AS400JDBCDriver"
        # our query
        statement_filepath => "/opt/dashboard/logstash-config/MAS_Customer_Info.sql"
    }
}
output {
    elasticsearch {
        protocol => http
        index => "customers_at_risk_v3"
        document_type => "customers_risk_doc_v3"
        document_id => "%{customer_unique_id}"
        host => "10.248.128.40"
        port => "9200"
        retry_max_interval => 6
        max_retries => 1
    }
}
